<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/<%= cssFile %>.css" />
    <link rel="stylesheet" href="/css/studentsList.css" />
  </head>
  <body>
    <header class="header">
      <h1>Student Information Management System</h1>
    </header>
    <div class="app-container">
      <!-- Navigation Panel -->
      <!-- <nav class="navigation-panel collapsed" id="navPanel">

        <div class="nav-menu">
          <span class="nav-bar nav-header nav-title">
            <div>
              <i class="fa-solid fa-bars"></i>
              <span class="nav-item-details">Navigation</span>
            </div>
          </span>
          <a href="/studentslist" class="nav-item">
            <div>
              <i class="fa-solid fa-magnifying-glass"></i>
              <span class="nav-item-details">Search Students</span>
            </div>
          </a>
          <a href="/form" class="nav-item active">
            <div>
              <i class="fa-solid fa-plus"></i>
              <span class="nav-item-details">Add Student</span>
            </div>
          </a>
          <a href="/scholarship" class="nav-item">
            <div>
              <i class="fa-brands fa-google-scholar"></i>
              <span class="nav-item-details">Scholarship</span>
            </div>
          </a>
          <a href="/transport" class="nav-item">
            <div>
              <i class="fa-solid fa-bus-simple"></i>
              <span class="nav-item-details">Transport</span>
            </div>
          </a>
          <a href="/recycle" class="nav-item">
            <div>
              <i class="fa-solid fa-trash"></i>
              <span class="nav-item-details">Recycle bin</span>
            </div>
          </a>
          <a href="#" class="nav-item">
            <div>
              <i class="fa-regular fa-clipboard"></i>
              <span class="nav-item-details">Records</span>
            </div>
          </a>
          <a href="#" class="nav-item">
            <div>
              <i class="fa-solid fa-gear"></i>
              <span class="nav-item-details">Settings</span>
            </div>
          </a>
          <a href="#" class="nav-item">
            <div>
              <i class="fa-solid fa-clipboard"></i>
              <span class="nav-item-details">Reports</span>
            </div>
          </a>
        </div>

        <div class="nav-footer">
          <div class="user-profile">
            <div class="user-avatar">AD</div>
            <div class="user-info">
              <div class="user-name">Admin User</div>
              <div class="user-role">Administrator</div>
            </div>
          </div>
        </div>
      </nav> -->

      <!-- Main Content -->
      <main class="main-content">
        <form method="post" action="/form/edit/<%= student._id %>?_method=PUT" >

          <!-- The Appliaction form -->
          <div class="detail0 heading rounded-top">Application form (Edit)</div>

          <!-- Personal details section -->
          <div class="full-width">Student Details</div>

          <div class="full-width">
            <h6>Name of the candidate:</h6>
            <input type="text" name="name" value="<%= student.name %>" placeholder="Enter your name" class="long-input" />
          </div>

          <div class="detail4 form-group">
            <h6>Department:</h6>
                <select name="department">
                  <option value="" disabled <%= !student.department ? "selected" : "" %>>Select Dept</option>
                  <option value="Computer Science" <%= student.department === "Computer Science" ? "selected" : "" %>>Computer Science</option>
                  <option value="Information Technology" <%= student.department === "Information Technology" ? "selected" : "" %>>Information Technology</option>
                  <option value="Artificial Intelligence" <%= student.department === "Artificial Intelligence" ? "selected" : "" %>>Artificial Intelligence</option>
                  <option value="Electronics And Communication" <%= student.department === "Electronics And Communication" ? "selected" : "" %>>Electronics And Communication</option>
                  <option value="Mechanical" <%= student.department === "Mechanical" ? "selected" : "" %>>Mechanical</option>
                </select>
          </div>

          <div class="detail4 form-group">
            <h6>Batch:</h6>
            <select name="batch">
              <option value="" disabled <%= !student.batch ? "selected" : "" %>>Select Batch</option>
              <option value="2022" <%= student.batch == 2022 ? "selected" : "" %>>2022</option>
              <option value="2023" <%= student.batch == 2023 ? "selected" : "" %>>2023</option>
              <option value="2024" <%= student.batch == 2024 ? "selected" : "" %>>2024</option>
              <option value="2025" <%= student.batch == 2025 ? "selected" : "" %>>2025</option>
            </select>

          </div>          

          <div class="detail2 form-group">
            <h6>Date Of Birth:</h6>
            <input type="date" name="dob" value="<%= student.dob %>" />
          </div>

          <div class="detail3 form-group">
            <h6>Age:</h6>
            <input type="text" name="age" value="<%= student.age %>" placeholder="Enter Age" />
          </div>

          <div class="detail4 form-group">
            <h6>Gender:</h6>
            <select name="gender">
              <option value="" disabled <%= !student.gender ? "selected" : "" %>>Select Gender</option>
              <option value="male" <%= student.gender === "male" ? "selected" : "" %>>Male</option>
              <option value="female" <%= student.gender === "female" ? "selected" : "" %>>Female</option>
            </select>
          </div>

          <div class="detail5 form-group">
            <h6>Blood Group:</h6>
            <input type="text" name="bloodGroup" value="<%= student.bloodGroup %>" placeholder="Enter blood group" />
          </div>

          <div class="detail6 form-group">
            <h6>Community:</h6>
            <select name="Community">
              <option value="" disabled <%= !student.community ? "selected" : "" %>>Select Community</option>
              <option value="OC" <%= student.community === "OC" ? "selected" : "" %>>OC</option>
              <option value="BC" <%= student.community === "BC" ? "selected" : "" %>>BC</option>
              <option value="BCM" <%= student.community === "BCM" ? "selected" : "" %>>BCM</option>
              <option value="MBC" <%= student.community === "MBC" ? "selected" : "" %>>MBC</option>
              <option value="DNC" <%= student.community === "DNC" ? "selected" : "" %>>DNC</option>
              <option value="SC" <%= student.community === "SC" ? "selected" : "" %>>SC</option>
              <option value="SCA" <%= student.community === "SCA" ? "selected" : "" %>>SCA</option>
              <option value="SCC" <%= student.community === "SCC" ? "selected" : "" %>>SCC</option>
              <option value="ST" <%= student.community === "ST" ? "selected" : "" %>>ST</option>
            </select>
          </div>

          <div class="detail7 form-group">
            <h6>Religion:</h6>
            <select name="religion" id="religion">
              <option value="" disabled <%= !student.religion ? "selected" : "" %>>Select religion</option>
              <option value="Hindu" <%= student.religion === "Hindu" ? "selected" : "" %>>Hindu</option>
              <option value="Christian" <%= student.religion === "Christian" ? "selected" : "" %>>Christian</option>
              <option value="Muslim" <%= student.religion === "Muslim" ? "selected" : "" %>>Muslim</option>
            </select>
          </div>

          <div class="detail8 form-group">
            <h6>Caste:</h6>
            <input type="text" name="caste" value="<%= student.caste %>" placeholder="Enter caste" />
          </div>

          <div class="detail9 form-group">
            <h6>Nationality:</h6>
            <input type="text" name="nationality" value="<%= student.nationality %>" placeholder="Enter nationality" />
          </div>

          <div class="detail10 form-group">
            <h6>Mother Tongue:</h6>
            <input type="text" name="motherTongue" value="<%= student.motherTongue %>" placeholder="enter mother tongue" />
          </div>

          <div class="detail11 form-group">
            <h6>Aadhar number:</h6>
            <input type="text" name="aadharNum" value="<%= student.aadharNo %>" placeholder="Enter Aadhar number" />
          </div>
          
          <div class="detail4 form-group">
            <h6>Scholarship:</h6>
            <select name="scholarship">
              <option value="" disabled <%= !student.scholarship ? "selected" : "" %>>Select Scholarship</option>
              <option value="Community" <%= student.scholarship === "Community" ? "selected" : "" %>>Community</option>
              <option value="Merit" <%= student.scholarship === "Merit" ? "selected" : "" %>>Merit</option>
              <option value="Sports" <%= student.scholarship === "Sports" ? "selected" : "" %>>Sports</option>
              <option value="None" <%= student.scholarship === "None" ? "selected" : "" %>>None</option>
            </select>
          </div>

          <div class="detail4 form-group">
            <h6>Transport:</h6>
            <select name="transport">
              <option value="" disabled <%= !student.transport ? "selected" : "" %>>Select Transport</option>
              <option value="Bus" <%= student.transport === "Bus" ? "selected" : "" %>>Bus</option>
              <option value="Train" <%= student.transport === "Train" ? "selected" : "" %>>Train</option>
              <option value="Two Wheeler" <%= student.transport === "Two Wheeler" ? "selected" : "" %>>Two Wheeler</option>
              <option value="Four Wheeler" <%= student.transport === "Four Wheeler" ? "selected" : "" %>>Four Wheeler</option>
            </select>
          </div>          

          <div class="detail13 combined">
            <span class="combinedSpan">
              <h6>City:</h6>
              <input type="text" name="city" value="<%= student.city %>" placeholder="Enter city" class="long-input" />
            </span>

            <span class="combinedSpan">
              <h6>State:</h6>
              <input type="text" name="state" value="<%= student.state %>" placeholder="Enter state" class="long-input" />
            </span>
          </div>

          <div class="detail14 combined">
            <span class="combinedSpan">
              <h6>District:</h6>
              <input list="districtList" placeholder="Enter district" name="district" value="<%= student.district %>" class="long-input districtList" />
              <datalist id="districtList">
                <option value="Ariyalur"></option>
                <option value="Chengalpattu"></option>
                <option value="Chennai"></option>
                <option value="Coimbatore"></option>
                <option value="Cuddalore"></option>
                <option value="Dharmapuri"></option>
                <option value="Dindigul"></option>
                <option value="Erode"></option>
                <option value="Kallakurichi"></option>
                <option value="Kancheepuram"></option>
                <option value="Karur"></option>
                <option value="Krishnagiri"></option>
                <option value="Madurai"></option>
                <option value="Nagapattinam"></option>
                <option value="Namakkal"></option>
                <option value="Nilgiris"></option>
                <option value="Perambalur"></option>
                <option value="Pudukottai"></option>
                <option value="Ramanathapuram"></option>
                <option value="Ranipet"></option>
                <option value="Salem"></option>
                <option value="Sivaganga"></option>
                <option value="Tenkasi"></option>
                <option value="Thanjavur"></option>
                <option value="Theni"></option>
                <option value="Thoothukudi"></option>
                <option value="Tiruchirappalli"></option>
                <option value="Tirunelveli"></option>
                <option value="Tirupathur"></option>
                <option value="Tiruppur"></option>
                <option value="Tiruvallur"></option>
                <option value="Tiruvannamalai"></option>
                <option value="Tiruvarur"></option>
                <option value="Vellore"></option>
                <option value="Virudhunagar"></option>
              </datalist>
            </span>

            <span class="combinedSpan">
              <h6>Pin code:</h6>
              <input type="text" name="pinCode" value="<%= student.pinCode %>" placeholder="Enter pin code" class="long-input" />
            </span>
          </div>

          <div class="detail15 form-group full-width">
            <h6>Contact Number:</h6>
            <input type="number" name="contactNo" value="<%= student.phoneNo %>" placeholder="Enter Ph number" class="fourColInp" />
          </div>

          <div class="detail17 form-group full-width rounded-bottom">
            <h6>email:</h6>
            <input type="text" name="email" value="<%= student.email %>" placeholder="Enter email" class="fourColInp" />
          </div>

          <div class="btn full-width rounded-bottom">
            <button class="submitBtn">Submit</button>
          </div>
        </form>
      </main>

    <script src="/javaScript/<%= jsFile %>.js"></script>
  </body>
</html>
